$height: 7px;
slider, [slider] {
  display: inline-block;
  position: relative;
  height: $height;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;

  div {
    white-space: nowrap;
    position: absolute;

    &.bar {
      width: 100%;
      height: 17%;
      border-radius: $height;
      background: #063B73;

      .selection {
        width: 0%;
        height: 100%;
        background: #13b6ff;
      }

      &:before,
      &:after {
        display: block;
        content: '';
        height: 9px;
        width: 1px;
        background: #063B73;
        position: absolute;
        z-index: 0;
      }

      &:before {
        left: 0;
        top: -4px;
      }

      &:after {
        right: 0;
        top: -4px;
      }
    }

    &.handle {
      cursor: pointer;
      top: -11px;
      background-color: #063B73;
      border-radius:4px;
      color: #FFFFFF;
      padding: 3px 5px;
      font-size: 1.5rem;
      z-index: 2;

      &.label {
        padding: 0 8px;
      }
    }

    &.handle:before {
      content: url(../../assets/images/content/caretl.png);
      position: relative;
      left: 0;
    }

    &.handle:after {
      content: url(../../assets/images/content/caretr.png);
      position: relative;
      right: 0;
    }

    &.bubble {
      display: none;
      cursor: default;
      top: -40px;
      padding: 1px 3px 1px 3px;
      font-size: 3rem;
      font-weight: lighter;

      &.active,
      &.value {
        display: inline-block;
      }

      &.limit {
        color: #777;
      }
    }
  }
}
