/* line 2, slider.scss */
slider, [slider] {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
/* line 10, slider.scss */
slider div, [slider] div {
  white-space: nowrap;
  position: absolute;
}
/* line 14, slider.scss */
slider div.bar, [slider] div.bar {
  width: 100%;
  height: 17%;
  border-radius: 7px;
  background: #063B73;
}
/* line 20, slider.scss */
slider div.bar .selection, [slider] div.bar .selection {
  width: 0%;
  height: 100%;
  background: #13b6ff;
}
/* line 26, slider.scss */
slider div.bar:before, slider div.bar:after, [slider] div.bar:before, [slider] div.bar:after {
  display: block;
  content: '';
  height: 9px;
  width: 1px;
  background: #063B73;
  position: absolute;
  z-index: 0;
}
/* line 37, slider.scss */
slider div.bar:before, [slider] div.bar:before {
  left: 0;
  top: -4px;
}
/* line 42, slider.scss */
slider div.bar:after, [slider] div.bar:after {
  right: 0;
  top: -4px;
}
/* line 48, slider.scss */
slider div.handle, [slider] div.handle {
  cursor: pointer;
  top: -11px;
  background-color: #063B73;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 3px 5px;
  font-size: 1.5rem;
  z-index: 2;
}
/* line 58, slider.scss */
slider div.handle .label, [slider] div.handle .label {
  padding: 0 8px;
}
/* line 63, slider.scss */
slider div.handle:before, [slider] div.handle:before {
  content: url(/assets/images/content/caretl.png);
  position: relative;
  left: 0;
}
/* line 69, slider.scss */
slider div.handle:after, [slider] div.handle:after {
  content: url(/assets/images/content/caretr.png);
  position: relative;
  right: 0;
}
/* line 75, slider.scss */
slider div.bubble, [slider] div.bubble {
  display: none;
  cursor: default;
  top: -40px;
  padding: 1px 3px 1px 3px;
  font-size: 3rem;
  font-weight: lighter;
}
/* line 83, slider.scss */
slider div.bubble.active, slider div.bubble.value, [slider] div.bubble.active, [slider] div.bubble.value {
  display: inline-block;
}
/* line 88, slider.scss */
slider div.bubble.limit, [slider] div.bubble.limit {
  color: #777;
}
