$height: 7px;
slider, [slider] {
  display: inline-block;
  position: relative;
  height: $height;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;

  div {
    white-space: nowrap;
    position: absolute;

    &.bar {
      width: 100%;
      height: 17%;
      border-radius: $height;
      background: #063B73;
      overflow: hidden;

      .selection {
        width: 0%;
        height: 100%;
        background: #13b6ff;
      }
    }

    &.handle {
      cursor: pointer;      
      top: -8px;
      background-color: #063B73;
      border-radius:4px;
      color: #FFFFFF;
      padding: 3px 5px;
      font-size: 1.2rem;
      z-index: 2;
    }

    &.handle:before {
      content: url(../../assets/images/content/caretl.png);
    }

    &.handle:after {
      content: url(../../assets/images/content/caretr.png);
    }

    &.bubble {
      display: none;
      cursor: default;
      top: -40px;
      padding: 1px 3px 1px 3px;
      font-size: 3rem;

      &.active,
      &.value {
        display: inline-block;
      }

      &.limit {
        color: #777;
      }
    }
  }
}
